# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
*.env
.env

# SQLite database (kama unatumia kwa caching)
*.sqlite3

# Editor settings
.vscode/
.idea/

# System files
.DS_Store

# pyenv version file
.python-version

# Virtual environment folders
venv/
ENV/
env/

# Logs
*.log

# Secrets and tokens
secrets.json
*.secret
