# Python bytecode
__pycache__/


# Environment files

.env

# SQLite database (kama unatumia kwa caching)


# Editor settings
.vscode/
.idea/

# System files
.DS_Store

# pyenv version file
.python-version

# Virtual environment folders
venv/
ENV/
env/

# Logs


# Secrets and tokens
secrets.json

